body {
    margin: 0;
    font-family: sans-serif;

}
.topnav{
    overflow: hidden;
    background-color: rgb(255, 115, 0);
}
.topnav a{
 float: left;
 color: #1affa3;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}
.topnav a:hover{
    background-color: #dddddd;
    color: #030000;

 
}
.topnav a.shreyas{
    background-color: #ffe066;
    color: #030000;
}